.button {
  background-color: #000;
  color: #fff;
  border: none;
  height: 35px;
  border-radius: 25px;
  font-weight: 600;
  padding: 0 1rem;
  /* min-width: 200px; */
  /* margin: auto; */
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #0005;
}
.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  /* transform: scale(1.05); */
}

.marginNot {
  margin: 0;
}
